%html

%body
	%div{:class => ['row', 'small-5 column']} 
		%ul{:class => ['small-block-grid-3']}
			= @informative_text
	.row
		.large-12.columns
			.panel
				%h1 Feed Template
	/ End Header and Nav
	.row
		/ Nav Sidebar
		/ This is source ordered to be pulled to the left on larger screens
		.large-3.columns
			.panel
				%a{:href => "#"}
					%img{:src => "https://placekitten.com/g/300/240"}/
				%h5
					%a{:href => "#"} Your Name
				.section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
					%section.section
						%h5.title
							%a{:href => "#"} friend 1
					%section.section
						%h5.title
							%a{:href => "#"} friend 2
					%section.section
						%h5.title
							%a{:href => "#"} friend 3
					%section.section
						%h5.title
							%a{:href => "#"} friend 4
					%section.section
						%h5.title
							%a{:href => "#"} friend 5
					%section.section
						%h5.title
							%a{:href => "#"} friend 6
		/ Main Feed
		.large-6.columns
			/ Feed Entry
			.row
				.large-2.columns.small-3
					%img{:src => "https://placekitten.com/g/80/80"}/
				.large-10.columns
					%p
						%strong Some Person said:
						Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
					%ul.inline-list
						%li
							%a{:href => ""} Reply
						%li
							%a{:href => ""} Share
					%h6 2 Comments
					.row
						.large-2.columns.small-3
							%img{:src => "https://placekitten.com/g/50/50"}/
						.large-10.columns
							%p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
					.row
						.large-2.columns.small-3
							%img{:src => "https://placekitten.com/g/50/50"}/
						.large-10.columns
							%p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
			/ End Feed Entry
			%hr/
			/ Feed Entry
			.row
				.large-2.columns.small-3
					%img{:src => "http://placehold.it/80x80&text=[img]"}/
				.large-10.columns
					%p
						%strong Some Person said:
						Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
					%ul.inline-list
						%li
							%a{:href => ""} Reply
						%li
							%a{:href => ""} Share
			/ End Feed Entry
			%hr/
			/ Feed Entry
			.row
				.large-2.columns.small-3
					%img{:src => "http://placehold.it/80x80&text=[img]"}/
				.large-10.columns
					%p
						%strong Some Person said:
						Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
					%ul.inline-list
						%li
							%a{:href => ""} Reply
						%li
							%a{:href => ""} Share
					%h6 2 Comments
					.row
						.large-2.columns.small-3
							%img{:src => "http://placehold.it/50x50&text=[img]"}/
						.large-10.columns
							%p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
			/ End Feed Entry
		/ Right Sidebar
		/ On small devices this column is hidden
		%aside.large-3.columns.hide-for-small
			%p
				%img{:src => "https://placekitten.com/g/300/440"}/
			%p
				%img{:src => "https://placekitten.com/g/300/440"}/
	/ Footer
	%footer.row
		.large-12.columns
			%hr/
			.row
				.large-5.columns
					%p &copy; Copyright FUMBLR
				.large-7.columns
					%ul.inline-list.right
						%li
							%a{:href => "#"} Section 1
						%li
							%a{:href => "#"} Section 2
						%li
							%a{:href => "#"} Section 3
						%li
							%a{:href => "#"} Section 4
						%li
							%a{:href => "#"} Section 5
						%li
							%a{:href => "#"} Section 6