%html
  %link{:href => "../stylesheets/assets/application.css", :rel => "stylesheet", :type => "text/css"}
  #headerwrap
    #header
      = render 'layouts/header'
    / old shit 
    / #leftcolumnwrap
    /   #leftcolumn
    /     %p avatar, avatar
    /     %p avatar, avatar
    #contentwrap
    #content
  %body
