/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
		background-color:  #7584D4 

}

p {
    padding: 10px;
}

.top-bar-wrapper {
    -moz-box-shadow: 0 0.5px whitesmoke;
    -webkit-box-shadow: 0 0.5px whitesmoke;
    box-shadow: 0 0.5px whitesmoke;
}

.top-bar {
    max-width: 1280px;
    /* padding: 0 20px 0 15px; */
    margin: auto;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1500px;
    float: left;
    margin: 0 auto;
}

#header {
    color: #C0CDF9;
    height: 50px;
    background: #40518F;
    border-radius: 2px;
    border: 1px solid #000040;
    margin: 5px;
}

#contentwrap {
    width: 850px;
    float: left;
    margin: 0 auto;
}

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#leftcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#panel {
    background-color: #A6B6EF;
    border-radius: 10px;
    border: 1px solid #000040;

}


