%header
  %div.fixed
    %nav.top-bar{'data-topbar' => true, role:'navigation'}
      %ul.title-area
        %li.name
          %h1= link_to "fumblr", root_path
        %li.toggle-topbar.menu-icon
          %a{href:"#"}
            %span menu
      %section.top-bar-section
        %ul.right
          - if user_signed_in?
            %li
              = link_to "logout", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "login", new_user_session_path
            %li
              = link_to "signup", new_user_registration_path
